@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsAvionModel
@{
    var avion = Model.Avion;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @avion.id</li>
  <li class="list-group-item"> <b>marca: </b> @avion.marca</li>
  <li class="list-group-item"> <b>modelo: </b> @avion.modelo</li>
  <li class="list-group-item"><b>numero_asientos: </b> @avion.numero_asientos</li>
  <li class="list-group-item"><b>numero_toilets: </b> @avion.numero_toilets</li>
  <li class="list-group-item"><b>capacidad_max_peso: </b> @avion.capacidad_max_peso</li>
</ul>	