@page
@model ProyectoCiclo3.App.Frontend.Pages.EditAvionModel
@{
    var avion = Model.Avion;
}

<div class="text-center">
    <form method = "POST">
        <input type="text" class="form-control d-none" id="id" name="id" required placeholder="id" minlength="3" asp-for="@avion.id" readonly>

        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca" minlength="3" asp-for="@avion.marca">
        
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo" asp-for="@avion.modelo">

        <label for="numero_asientos" class="form-label">Numero_asientos:</label>
        <input type="text" class="form-control" id="numero_asientos" name="numero_asientos" required placeholder="Numero_asientos" asp-for="@avion.numero_asientos">

        <label for="numero_toilets" class="form-label">Numero_toilets:</label>
        <input type="number" class="form-control" id="numero_toilets" name="numero_toilets" required placeholder="Numero_toilets" asp-for="@avion.numero_toilets">

        <label for="capacidad_max_peso" class="form-label">Capacidad_max_peso:</label>
        <input type="number" class="form-control" id="capacidad_max_peso" name="capacidad_max_peso" required placeholder="Capacidad_max_peso" asp-for="@avion.capacidad_max_peso">
        <hr>
        <button type="submit" class="btn btn-success">Actualizar</button>
    </form>
</div>
